@using Exec02.FrontEnd.Application.ViewModels;
@model IEnumerable<HotNewsVM>

<h3>最新消息</h3>
<table class="table table-hover">
    @foreach (var news in Model)
    {
    <tr>
        <td><a href="/News/Details/@news.Id">@news.Title</a></td>
        <td>@Html.DisplayFor(m =>@news.PublishTime)</td>
    </tr>
    }
</table>